<h1>Ruby Reviews</h1>
<h3>View products and leave reviews!</h3>

<% if @products.any? %>
  <% if @reviews.any? %>
  <p>Most Reviewed: <%= link_to @products.most_reviews.name, product_path(@products.most_reviews) %></p>
  <% end %>
  <p>3 Most Recent Products: </p>
  <%# byebug %>
  <ul>
    <% @products.three_most_recent.each do |product| %>
      <li><%= link_to product.name, product_path(product)  %></li>
    <% end %>
  </ul>

<% else %>

<% end %>
<p><%= link_to "USA Products only", usa_products_path %></p><br><br>
<br><br>

<p><%= link_to "View products", products_path %></p>
<p><%= link_to "Add Products", new_product_path %></p>
